<% content_for :title do %>
  Join While 42
<% end %>

<div data-role="page" id="join">
  <div role="main" class="ui-content">


  <label for="text-basic">First Name:</label>
  <input type="text" name="text-basic" id="text-basic" value="">

    <label for="text-basic">Last Name:</label>
  <input type="text" name="text-basic" id="text-basic" value="">
    <label for="text-basic">Email :</label>
  <input type="text" name="text-basic" id="text-basic" value="">
    <label for="text-basic">Gender:</label>

    <div class="ui-controlgroup-controls ">

            <div class="ui-radio ui-mini"><label for="radio-choice-c" class="ui-btn ui-corner-all ui-btn-inherit ui-first-child ui-radio-off">Male</label><input type="radio" name="radio-choice-b" id="radio-choice-c" value="list" checked="checked" data-cacheval="true"></div>

            <div class="ui-radio ui-mini"><label for="radio-choice-d" class="ui-btn ui-corner-all ui-btn-inherit ui-btn-active ui-radio-on">Female</label><input type="radio" name="radio-choice-b" id="radio-choice-d" value="grid" data-cacheval="false"></div>


                </div>


    <label for="text-basic">School:</label>
  <input type="text" name="text-basic" id="text-basic" value="">
    <label for="text-basic">Graduation Year:</label>
  <input type="text" name="text-basic" id="text-basic" value="">
    <label for="text-basic">Job Title:</label>
  <input type="text" name="text-basic" id="text-basic" value="">

      <label for="text-basic">Job Title:</label>
  <input type="text" name="text-basic" id="text-basic" value="">

      <label for="text-basic">Company:</label>
  <input type="text" name="text-basic" id="text-basic" value="">

      <label for="text-basic">City:</label>
  <input type="text" name="text-basic" id="text-basic" value="">

       <label for="text-basic">Phone:</label>
  <input type="text" name="text-basic" id="text-basic" value="">

       <label for="text-basic">About you :</label>
  <textarea cols="40" rows="8" name="textarea" id="textarea" class="ui-input-text ui-shadow-inset ui-body-inherit ui-corner-all ui-textinput-autogrow" style="height: 52px;"></textarea>

  <button class="ui-btn ui-btn-inline ui-btn-active">Join Us</button>
</div>
</div>